.project-info{
    padding: 18vh 14rem;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.project-info__images{
    display: flex;
    flex-direction: column;
    gap: 18vh;
}

.project-info__images .project-card:nth-child(2n){
    grid-template-columns: 1fr 1.6fr;
}

.project-info__images .project-card:nth-child(2n) .project-card__text-container{
    grid-column: 1;
    grid-row: 1;
}

.project-info__header{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4vh;

}

.project-video{
    width: 100vw;
}

.project-video video{
    width: 100%;
}