.form{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7%;
    gap: 4.4rem;

}

.form__field{
    display: flex;
    flex-direction: column;
}

.form__input,
.form__select{
    background-color: var(--color-black);
    border: none;
    text-transform: capitalize;
    border-bottom: solid 1px;
    border-color: var(--color-grey);
    transition: all .5s;
    padding: 1.1rem;
    line-height: 0;

}

.form__input:focus,
.form__select:focus{
    line-height: 0;
    outline: none;
    border-color: var(--color-white);

}

.form__input::placeholder{
    color: var(--color-grey);
}
