html{
  font-size: 62.5%;

  --font-family: Montserrat, sans-serif;
  --text-font-size: 1.8rem;
  --section-title-font-size: 4rem;
  --page-title-font-size: 7rem;

  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-grey: #828282;
  /* --faded-opacity: .6; */
  --color-accent-blue: #2FA4C9;
  --color-accent-pink: #DD345D;
  --color-accent-purple: #A768BA;
  --color-accent-purple--dark: #633974;


}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  height: var(--color-black);
  box-sizing: border-box;

	font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);

}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--color-white);
  
}

.visually-hidden{
  display: none;
}

/* 
---------------------------------------------
  TEXT
---------------------------------------------
 */
.primary-heading{
  font-size: var(--page-title-font-size);
  text-transform: uppercase;
}

.secondary-heading{
  font-size: var(--section-title-font-size);
  font-weight: 600;
  line-height: 4.9rem;
}

.tertiary-heading{
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.3rem;
}

.basic-text {
	color: var(--color-grey);
  font-size: var(--text-font-size);
  line-height: 2.7rem;
}

.text--small{
  font-size: 1.4rem;
	color: var(--color-grey);
}

.link--blue{
  text-decoration: none;
  color: var(--color-accent-blue);
}

/* 
---------------------------------------------
  CONTAINERS
---------------------------------------------
 */

.full-screen-container{
  /* height: calc(100vh - 10rem); */
}

.split-middle-flex {
  display: flex;
  min-height: 100vh;
}

.split-middle-flex>* {
  width: 50vw;
}

.align-last-to-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-last-to-bottom:last-child{
  justify-self: end;
}

/* 
---------------------------------------------
  ELEMENTS
---------------------------------------------
 */

.logo {
	width: 3.6vw;
}

.social {
	display: flex;
	width: 18.9vw;
	justify-content: space-between;
	/*padding: 65px 0 65px 0;*/
}

.basic-button--purple{
  background-color: var(--color-accent-purple--dark);
  border: none;
  padding: 2vh 0;
  cursor: pointer;
  width: 100%;
}

